 <% high_scores = calculate_high_scores(all_scores,goal) %>
 <div class="col-md-6">
    <table class="table">
        <thead>
            <tr >
                <th align="center" valign="middle" colspan="3">Game to <%=goal%> </th>
            </tr>
        </thead>
        <tbody>
        	<tr class="active">
                <td>1</td>
                <td><%=high_scores[0][0]%></td>
                <td><%=high_scores[0][1]%></td>
            </tr>
            <tr class="info">
                <td>2</td>
                <td><%=high_scores[1][0]%></td>
                <td><%=high_scores[1][1]%></td>
            </tr>
            <tr class="active">
                <td>3</td>
                <td><%=high_scores[2][0]%></td>
                <td><%=high_scores[2][1]%></td>
            </tr>
            <tr class="info">
                <td>4</td>
                <td><%=high_scores[3][0]%></td>
                <td><%=high_scores[3][1]%></td>
            </tr>
            <tr class="active">
                <td>5</td>
                <td><%=high_scores[4][0]%></td>
                <td><%=high_scores[4][1]%></td>
            </tr>
        	<tr class="info">
                <td>6</td>
                <td><%=high_scores[5][0]%></td>
                <td><%=high_scores[5][1]%></td>
            </tr>
            <tr class="active">
                <td>7</td>
                <td><%=high_scores[6][0]%></td>
                <td><%=high_scores[6][1]%></td>
            </tr>
            <tr class="info">
                <td>8</td>
                <td><%=high_scores[7][0]%></td>
                <td><%=high_scores[7][1]%></td>
            </tr>
            <tr class="active">
                <td>9</td>
                <td><%=high_scores[8][0]%></td>
                <td><%=high_scores[8][1]%></td>
            </tr>
            <tr class="info">
                <td>10</td>
                <td><%=high_scores[9][0]%></td>
                <td><%=high_scores[9][1]%></td>
            </tr>
        </tbody>
    </table>
  </div>
