 <% high_scores = calculate_high_scores(all_scores,goal,last_day_only) %>
 <% quick_or_long = "quick" if goal==25 %>
 <% quick_or_long = "long" if goal==100 %>

    <table class="table">
        <thead>
            <tr >
                <th align="center" valign="middle" colspan="3"> <%= quick_or_long%></th>
            </tr>
        </thead>
        <tbody>
        	<tr class="active">
                <td class="user-name"><%=high_scores[0][0]%></td>
                <td><%=high_scores[0][1]%></td>
            </tr>
            <tr>
                <td class="user-name"><%=high_scores[1][0]%></td>
                <td><%=high_scores[1][1]%></td>
            </tr>
            <tr class="active">
                <td class="user-name"><%=high_scores[2][0]%></td>
                <td><%=high_scores[2][1]%></td>
            </tr>
            <tr>
                <td class="user-name"><%=high_scores[3][0]%></td>
                <td><%=high_scores[3][1]%></td>
            </tr>
            <tr class="active">
                <td class="user-name"><%=high_scores[4][0]%></td>
                <td><%=high_scores[4][1]%></td>
            </tr>
        	<tr>
                <td class="user-name"><%=high_scores[5][0]%></td>
                <td><%=high_scores[5][1]%></td>
            </tr>
            <tr class="active">
                <td class="user-name"><%=high_scores[6][0]%></td>
                <td><%=high_scores[6][1]%></td>
            </tr>
            <tr>
                <td class="user-name"><%=high_scores[7][0]%></td>
                <td><%=high_scores[7][1]%></td>
            </tr>
            <tr class="active">
                <td class="user-name"><%=high_scores[8][0]%></td>
                <td><%=high_scores[8][1]%></td>
            </tr>
            <tr>
                <td class="user-name"><%=high_scores[9][0]%></td>
                <td ><%=high_scores[9][1]%></td>
            </tr>
        </tbody>
    </table>

