<head>
  <title>Word Game </title>
  <% if session[:loaded]!= "true" %>
  <script src="/js/load_words.js"></script>
  <%end%>
</head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT Mono|Duru Sans">
<body>

  <div id="wrapper">
    <center><p><%= session[:status] %></p></center>
    <center><p id="statusz">Welcome</p></center>
    <div id="wordstringdiv">
  <p id="wordstring"><%= session[:playstring][0..4]%></p>
  <p id = "hidestring"class="hide"><%= session[:playstring]%></p>

  </div>

   <form id="formz">
    <input type="text" id="inputz" maxlength="15" autocomplete="off" autofocus><br>
  </form>
    <center><p><%= session[:playstring] %></p></center>
    <center><p><%= "Jumps: #{session[:jumps]}" %></p></center>
  </div>
</body>
